* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body{
    overflow: hidden;
}
main{
  height: 100%;
  width: 100%;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1{
  white-space: nowrap;
}

button{
  padding: 20px 40px;
  background-color: crimson;
  font-size: 30px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  position: relative;
  z-index: 9;
}
button:active{
  scale: 0.95;
}