* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
main{
  height: 100%;
  width: 100%;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1{
  font-size: 50px;
  padding: 10px 20px;
  background-color: green;
  border: 2px solid white;
  border-radius: 5px;
}

button{
  padding: 10px 20px;
  background-color: crimson;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
button:active{
  scale: 0.95;
}